

body{
    background-color: maroon;
    
}

ul li{
    background-color: grey;
    color:white;
    display: inline-block;
    height:80px;
    width:100px;
    padding-left: 10px;
    align-items: center;
}

nav li{
    background-color: grey;
    color:white;
    display: inline-block;
    height:100px;
    width:100px;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
}


.img-logo{
    width: 20%;
    height: 20%;

}

.Microphone{
    align-items: center;
    width: 50%%;
    height:50%;
  
}

.social-media-row{
    clear:both;
    flex-direction: row;
}
.img-social-media{
    width: 20%;
    height:20%;
    padding:10px;
    flex-direction: row;
    justify-content:space-around;
}


