

body {
margin:10px;
}


.unbreakable-container{
    position: absolute;
    bottom:10px;
    left:20px;
}

.unbreakable{
    font-family: Arial, sans-serif;
    line-height: 1;

    letter-spacing: -0.7em;
    color:white;
}

.ks{
    font-family: 'Arial',sans-serif;
    font-size: 45px;
    line-height: 1;

    margin-top: -11px;
    -webkit-transition: all .5s ease-in-out;
        transition: all .5s cubic-bezier(.190,1.000, .220, 1.000) 5s;
-webkit-transform:translateX(-1000%);
    -ms-transform: translateX(-1000%);
    transform: translateX(-1000%);
letter-spacing: -1px;
text-transform: uppercase;

color: grey;
}

.animate .ks
{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform:translateX(0);
}
span
{
    font-family: 'Ariel', Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    
    opacity: 0;
    color:grey;

    filter:alpha(opacity=0);
}

.able
{
    -webkit-transition: all .5s cubic-bezier(.190,1.000) 2.3s;
        transition: all .5s cubic-bezier( .190, 1.000, .220, 1.000) 2.3s;
        letter-spacing: -0.7em;

}
.break{
 -webkit-transition: all .5s ease-in-out 2s;
    transition: all .5s ease-in-out 2s;
letter-spacing: -.07em;
}

.un{
    -webkit-transition: all .5s ease-in-out 1.7s;
            transition: all .5s ease-in-out 1.7s;
        letter-spacing: -.07em;
}

.animate .un{
    font-size: 40px;
-webkit-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);

        opacity: 1;

        filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 60px;

        -webkit-transform: scale(1.5,1.5);
            -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

        opacity: 1;
    filter: alpha(opacity=100);
}

.animate .able 
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
    opacity: 1;
filter: alpha(opacity=100);

}
.right{
    list-style: none;
    float:right;
    margin-right: 50px;
}

.right li a{
    width:50px;
    display:block;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    margin: 10px;
}
    
    nav{
       display:flex;
       justify-content: space-around;
       align-items: center;
       min-height: 8vh;
       background-color: maroon;
    }
    
    .logo img{
        float: left;
        position: relative;
        height: 100px;
    
    }
      .nav-links{
          display:flex;
          justify-content: space-around;
          width:30%;
      }
      .nav-links li{
          list-style: none;
      }
      .nav-links a{
          text-decoration: none;
          font-weight: bold;
          text-align: center;
          font-size: 14px;
      }
      .burger{
          display:none;
          cursor: pointer;
      }
      .burger div{
          width: 25px;
          height:5px;
          background-color: aquamarine;
          margin:5px;
      }
    
      @media screen and (max-width:1024px){
        .nav-links{
            width:60%;
        }
    }
    @media screen and (max-width:768px){
        body{
            overflow-x: hidden;
            
        }
        .nav-links{
            position: absolute;
            right:0px;
            height: 92vh;
            top:8vh;
            background-color: blanchedalmond;
            display: flex;
            flex-direction: column;
            align-items: center;
            width:30%;
            transform: translateX(100%);  
            transition: transfrom 0.5s ease-in; 
        }
        .nav-links li{
            opacity: 0;
        }
        .burger{
            display: block;
        }
    }
    
    .nav-active{
        transform: translateX(0%);
    }
    
    
   nav a{
       text-align: center;
       width: 50px;
       display: block;
       padding: 20px 15px;
       text-decoration: none;
       font-family: Arial, Helvetica, sans-serif; 

   }
  
  p{
      color:black;
      

  }
   

   .grid-container{
    color: grey;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}


div.laptop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
div.laptop-wrapper iframe {
    box-sizing: border-box;
    background: url(https://i.stack.imgur.com/zZNgk.png) center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 14.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


   h1{
       font-family: 'Courier New', Courier, monospace;
       color: gray;
       text-align: center;
   }

  h2{
      font-family: sans-serif;
      color: gray;
  }

  h4{
    font-family: sans-serif;
    color: gray; 
  }

  







  

  